{% extends "base_categories.html" %}
{% block title %}
{{ block.super }} | Entries in {{ category.title }}
{% endblock %}
{% block content %}
{% for entry in object_list %}
<h2>{{ entry.title }}</h2>
<p>{{ entry.pub_date|date:"F j, Y" }}</p>
{% if entry.excerpt_html %}
{{ entry.excerpt_html|safe }}
{% else %}
{{ entry.body_html|truncatewords_html:"50"|safe  }}<a href="{{ entry.get_absolute_url }}">... read more</a>
{% endif %}
{% endfor %}
{% endblock %}
{% block whatis %}
<p>This is a list of entries published in my blog in <a href="{% url DJPlus.views.category_detail ct.slug %}">{{ ct.title }} </a>
</p>
{% endblock %}
