{% extends "base_entries.html" %}
{% block title %}
{{ block.super }} | Entries in {{ month|date:"F, Y" }}
{% endblock %}
{% block content %}
{% for entry in object_list %}
<h2><a href="{{  entry.get_absolute_url }}">{{ entry.title }}</a></h2>
<p>{{ entry.pub_date|date:"F j, Y" }}</p>
{% if entry.excerpt_html %}
{{ entry.excerpt_html|safe }}
{% else %}
{{ entry.body_html|truncatewords_html:"50"|safe  }}<a href="{{ entry.get_absolute_url }}">... read more</a>
{% endif %}
{% endfor %}
{% endblock %}
{% block whatis %}
<p>This is a list of entries published in my blog in
{{ month|date:"F, Y" }}.</p>
{% endblock %}
